In [4]:
import numpy as np
import pandas as pd

pd.DataFrame([1,2,3,4])

   0
0  1
1  2
2  3
3  4

In [7]:
pd.DataFrame([(1,2,3,4),(2,3,4,5)],columns = ['value1','value2','value3','value4'])

   value1  value2  value3  value4
0       1       2       3       4
1       2       3       4       5

In [9]:
pd.DataFrame([(1,2,3,4),(2,3,4,5)],index = ['one','two'],columns = ['value1','value2','value3','value4'])

     value1  value2  value3  value4
one       1       2       3       4
two       2       3       4       5

In [12]:
data = {'a':[1,2,3],'b':[2,3,4]}
pd.DataFrame(data)

   a  b
0  1  2
1  2  3
2  3  4

In [16]:
data = {'a':[1,2,3],'b':[2,3,4]}
pd.DataFrame.from_dict(data)

   a  b
0  1  2
1  2  3
2  3  4

In [18]:
pd.DataFrame.from_dict(data,orient='index',columns = ['value1','value2','value3'])

   value1  value2  value3
a       1       2       3
b       2       3       4