In [2]:
pwd

'/Users/dongzhihui/Documents/GitHub/learn-python'

In [4]:
import numpy as np
import pandas as pd

In [9]:
data = pd.DataFrame([[1,2,3],[2,3,4]],index = ['one','two'],columns = ['value1','value2','value3'])

In [10]:
data

     value1  value2  value3
one       1       2       3
two       2       3       4

In [12]:
data = pd.DataFrame([[[1,2,3],[4,5,6]],[2,3,4]],index = ['one','two'],columns = ['value1','value2','value3'])
data

        value1     value2  value3
one  [1, 2, 3]  [4, 5, 6]     NaN
two          2          3     4.0

In [14]:
pd.__version__

'1.1.1'

In [16]:
np.__version__

'1.19.1'

In [20]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index = labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [21]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [23]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [25]:
df.iloc[3:]

  animal  age  visits priority
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [27]:
df.tail(3)

  animal  age  visits priority
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [30]:
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),columns = ['a','b','c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [34]:
df3 = df2.copy()

In [36]:
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [38]:
df4 = df2[['a','b']]
df4

   a  b
0  1  2
1  4  5
2  7  8

In [40]:
pwd

'/Users/dongzhihui/Documents/GitHub/learn-python'

In [42]:
cd ..

/Users/dongzhihui/Documents/GitHub

In [46]:
cd ./dongzhihui

[Errno 2] No such file or directory: './dongzhihui'
/Users/dongzhihui/Documents

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()

URLError: <urlopen error [Errno 61] Connection refused>

In [51]:
pwd

'/Users/dongzhihui/Documents'

In [53]:
cd /Users/dongzhihui/Desktop/study/spider/

/Users/dongzhihui/Desktop/study/spider

In [55]:
ls

The Shawshank Redemption.jpg  film250.csv
Untitled.ipynb                gender_submission.csv
Untitled1.ipynb               hotlist.html
city_weather.ipynb            hotlist.ipynb
film-api.ipynb                hotlist.thml
film-api2.ipynb

In [73]:
df = pd.read_csv('gender_submission.csv',chunksize=5)
df

In [59]:
cp /Users/dongzhihui/Documents/GitHub/learn-python/result.txt 2.txt

In [61]:
ls

2.txt                         film-api2.ipynb
The Shawshank Redemption.jpg  film250.csv
Untitled.ipynb                gender_submission.csv
Untitled1.ipynb               hotlist.html
city_weather.ipynb            hotlist.ipynb
film-api.ipynb                hotlist.thml

In [70]:
df4 = pd.read_table('2.txt',chunksize=5)
df4

In [71]:
df6 = pd.read_table('2.txt',chunksize=5)
df6

In [68]:
df5 = pd.read_csv('film250.csv')
df5

Empty DataFrame
Columns: [Title, Rating, Avatars, Image]
Index: []

In [74]:
df4

In [76]:
df

In [80]:
import numpy as np
import pandas as pd
df = pd.read_csv('gender_submission.csv')
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [83]:
s1 = pd.Series(data['animal'])
s2 = pd.Series(data['age'])
s3 = pd.Series(data['visits'])
s4 = pd.Series(data['priority'])
s5 = pd.DataFrame([s1,s2,s3,s4],index = ['animal','age','visits','priority'])
s5

            0    1      2    3    4    5      6    7    8    9
animal    cat  cat  snake  dog  dog  cat  snake  cat  dog  dog
age       2.5    3    0.5  NaN    5    2    4.5  NaN    7    3
visits      1    3      2    3    2    3      1    1    2    1
priority  yes  yes     no  yes   no   no     no  yes   no   no

In [85]:
ls

2.txt                         film-api2.ipynb
The Shawshank Redemption.jpg  film250.csv
Untitled.ipynb                gender_submission.csv
Untitled1.ipynb               hotlist.html
city_weather.ipynb            hotlist.ipynb
film-api.ipynb                hotlist.thml

In [87]:
pwd

'/Users/dongzhihui/Desktop/study/spider'

In [89]:
ls

2.txt                                   film250.csv
The Shawshank Redemption.jpg            gender_submission.csv
Untitled.ipynb                          hotlist.html
Untitled1.ipynb                         hotlist.ipynb
city_weather.ipynb                      hotlist.thml
film-api.ipynb                          金融教育词汇中英文翻译.xlsx
film-api2.ipynb

In [90]:
fin_dict = pd.read_excel('金融教育词汇中英文翻译.xlsx')

                                  english terms        Chinese terms
0                               building blocks                 建筑模块
1                      Financial Habits & Norms              理财习惯和规范
2  Financial Knowledge & Decision Making Skills          金融知识和决策制定技能
3                             Excutive Function                 执行功能
4     healthy money habits，norms，rules of thumb  从小培养看待金钱的良好习惯、规范、准则

In [92]:
fin_dict.head(10)

                                  english terms        Chinese terms
0                               building blocks                 建筑模块
1                      Financial Habits & Norms              理财习惯和规范
2  Financial Knowledge & Decision Making Skills          金融知识和决策制定技能
3                             Excutive Function                 执行功能
4     healthy money habits，norms，rules of thumb  从小培养看待金钱的良好习惯、规范、准则

In [93]:
fin_dict.tail(6)

                                  english terms        Chinese terms
0                               building blocks                 建筑模块
1                      Financial Habits & Norms              理财习惯和规范
2  Financial Knowledge & Decision Making Skills          金融知识和决策制定技能
3                             Excutive Function                 执行功能
4     healthy money habits，norms，rules of thumb  从小培养看待金钱的良好习惯、规范、准则